@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  @apply bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-white;
}
